/CMakeLists.txt
/.idea/
/cmake-build-debug/
/cmake-build-release/
/main.cpp
.ninja_log
/CMakeFiles/
build.ninja
.ninja_deps
/.cmake/
cmake_install.cmake
coursework_visual_novel.exe
CMakeCache.txt
Testing/